/* Home.css */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%; 
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%; 
    height: 200px; 
    border: 1px solid black;
    border-radius: 10px;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 200px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
